* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
}

html {
    font-family: 'Roboto', sans-serif;

    font-size: 16px;

}

:root {
    --main-color: #FF1E00;
    --sec-color: #59CE8F;
    --white-color: #E8F9FD;
    --bgcolor-1: black;
    --bgcolor-2: #000000;
    --padding: 8%;
    --main-ser: #019267;

}


h1 {

    font-size: 4.65rem;
    margin: 1.7rem 0;
    font-weight: bold;

}

h3 {
    font-size: 1.5rem;
    margin-bottom: 3.5rem;

}

h4 {
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
}

/* this span section home */
span {
    color: var(--sec-color);



}


h2 {

    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}


/* ------------------------
------------Home section
--------------------------- */
.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgcolor-2);
    color: var(--white-color);
    display: flex;
    flex-direction: column;


}



.home nav {

    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home nav ul li {
    display: inline-block;
    margin: 0.8rem 1.5rem;
}

.home nav ul li a {
    color: var(--white-color);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.home nav ul li .active {
    color: var(--sec-color);

}

.home nav ul li a:hover {
    color: var(--sec-color);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    margin-left: 5px;

}

/* HUMBERGER MENU */
nav #menu {
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;

}

nav #menu span {
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--white-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    margin-bottom: 5px;
}

.btn {
    border: 2px solid transparent;

    background-color: var(--sec-color);
    color: var(--bgcolor-2);
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.btn:hover {
    background-color: transparent;
    color: var(--sec-color);
    border: 2px solid;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.content {
    flex-grow: 1;
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.container-texts {

    position: relative;
    bottom: 70px;

}



.social {

    margin-top: 3.5rem;

}

.social a i {
    color: var(--white-color);
    width: 2.5rem;
    font-size: 25px;
    margin-right: 30px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.social a i:hover {
    color: var(--sec-color);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}


.container-img {
    position: relative;
    width: 45%;
    height: 90%;

}

.container-img img {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(60px, 90px);
    -webkit-transform: translate(60px, 90px);
    -moz-transform: translate(60px, 90px);
    -ms-transform: translate(60px, 90px);
    -o-transform: translate(60px, 90px);
    cursor: pointer;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.container-img img:hover {
    right: 70px;

}

/* ------------------------
------------About section
--------------------------- */

.about {
    background-color: var(--white-color);
    padding: 2rem var(--padding);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about .container-imgs {
    width: 35%;
}

.about .container-imgs img {

    width: 90%;
}

.about .container-texts {
    width: 35%;

}

.about .container-texts span {
    color: var(--main-color);
    cursor: pointer;
}

.about .container-texts p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 10px;
    line-height: 22px;
}

.about .container-texts h5 {

    padding-bottom: 8px;
    padding-top: 5px;
    font-size: 20px;

}

/* ------------------------
------------Services section
--------------------------- */

.services {
    background-color: var(--main-ser);
    padding: 2rem var(--padding);

}



.services h1 span {

    color: #FFD365;
}

.text-center {
    text-align: center;
    font-size: 40px
}

.box {
    display: flex;
    justify-content: space-between;

}

.card {
    text-align: center;
    width: 300px;
    background-color: #FFD365;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 1.3rem 2rem;
    margin-left: 20px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.card:hover {
    padding: 30px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    cursor: pointer;
    background-color: #2196F3;
    color: var(--white-color);
}

.services .card p:hover {
    cursor: pointer;
}

.services .card i {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--main-ser);


}



.services .card h5 {
    font-size: 20px;
}

.services .card p {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 27px;



}

/* ------------------------
------------ skills section
--------------------------- */

.skills {
    background-color: #1C3879;
    padding: 2rem var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.skills .container-skills p:hover {
    color: #FFD365;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.skills .container-skills h1 {

    font-size: 35px;
    color: #607EAA;
    /* margin-top: -100px; */

}



.skills .container-skills p {
    font-size: 20px;
    color: var(--white-color);
    letter-spacing: 1px;
    line-height: 1.8rem;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.skills .container-imgs {
    width: 35%;
}

.skills .container-imgs img {

    width: 90%;
}

/* ------------------------
------------Footer section
--------------------------- */

footer {
    padding: 2rem var(--padding);
    background-color: #EF5B0C;
    margin-top: 30px;
}

footer .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-footer h2 {

    color: #003865;
}

footer .content-footer h2 sapn {
    color: #0078AA;


}

footer .content-footer p {
    text-align: center;
    width: 500;
    margin-top: 1rem;
}



#menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
    -webkit-transform: translate(0px, -2px) rotate(45deg);
    -moz-transform: translate(0px, -2px) rotate(45deg);
    -ms-transform: translate(0px, -2px) rotate(45deg);
    -o-transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
    -moz-transform: translateX(15px);
    -ms-transform: translateX(15px);
    -o-transform: translateX(15px);
}

#menu.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
    -webkit-transform: translate(-3px, 3px) rotate(-45deg);
    -moz-transform: translate(-3px, 3px) rotate(-45deg);
    -ms-transform: translate(-3px, 3px) rotate(-45deg);
    -o-transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span {
    background-color: var(--main-color);
}


/* ------------------------
------------MEDIA QUERIS
--------------------------- */

@media screen and (max-width:575px) {
    :root {
        --padding: 1.5rem;

    }

    html {
        font-size: 13px;

    }

    .home .container-img {

        display: none;
    }

    nav {

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        border-bottom: 1px solid var(--main-ser);
        z-index: 3;


    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--main-ser);

    }

    nav ul.is-active {
        display: block;
    }

    .home nav ul li {
        display: block;
        text-align: center;
        margin: 55px;


    }

    .home nav ul li a {
        font-size: 20px;
    }



    nav .btn {

        display: none;
    }

    nav>a {
        display: none;
    }

    .container-texts {
        bottom: 0em;
    }

    .social {
        margin-top: 70px;
    }

    h3 {

        margin-bottom: 70px;
    }

    nav #menu {
        display: block;
    }

    .about .container-imgs img {
        display: none;
    }

    .about .container-texts {
        width: 100%;

    }

    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

    }

    .skills .container-skills {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .skills .container-imgs {
        display: none;
    }
}



@media screen and (min-width:576px) and (max-width:767px) {
    :root {
        --padding: 1.5rem;

    }

    html {
        font-size: 13px;

    }

    .home .container-img {

        display: none;
    }

    nav {

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        border-bottom: 1px solid var(--main-ser);
        z-index: 3;


    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--main-ser);

    }

    nav ul.is-active {
        display: block;
    }

    .home nav ul li {
        display: block;
        text-align: center;
        margin: 55px;


    }

    .home nav ul li a {
        font-size: 20px;
    }



    nav .btn {

        display: none;
    }

    nav>a {
        display: none;
    }

    .container-texts {
        bottom: 0em;
    }

    .social {
        margin-top: 70px;
    }

    h3 {

        margin-bottom: 70px;
    }

    nav #menu {
        display: block;
    }

    .about .container-imgs img {
        display: none;
    }

    .about .container-texts {
        width: 100%;

    }

    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

    }

    .skills .container-skills {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .skills .container-imgs {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    :root {
        --padding: 1.5rem;

    }

    html {
        font-size: 13px;

    }

    .home .container-img {

        display: none;
    }

    nav {

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        border-bottom: 1px solid var(--main-ser);
        z-index: 3;


    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--main-ser);

    }

    nav ul.is-active {
        display: block;
    }

    .home nav ul li {
        display: block;
        text-align: center;
        margin: 55px;


    }

    .home nav ul li a {
        font-size: 20px;
    }



    nav .btn {

        display: none;
    }

    nav>a {
        display: none;
    }

    .container-texts {
        bottom: 0em;
    }

    .social {
        margin-top: 70px;
    }

    h3 {

        margin-bottom: 70px;
    }

    nav #menu {
        display: block;
    }

    .about .container-imgs img {
        display: none;
    }

    .about .container-texts {
        width: 100%;

    }

    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

    }

    .skills .container-skills {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .skills .container-imgs {
        display: none;
    }
}


@media screen and (min-width:992px) and (max-width:1279px) {
    :root {
        --padding: 1.5rem;

    }

    html {
        font-size: 13px;

    }

    .home .container-img img {
        height: auto;
        width: 100%;



    }


    nav {

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        border-bottom: 1px solid var(--main-ser);
        z-index: 3;


    }

    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--main-ser);

    }

    nav ul.is-active {
        display: block;
    }

    .home nav ul li {
        display: block;
        text-align: center;
        margin: 55px;


    }

    .home nav ul li a {
        font-size: 20px;
    }



    nav .btn {

        display: none;
    }

    nav>a {
        display: none;
    }

    .container-texts {
        bottom: 0em;
    }

    .social {
        margin-top: 70px;
    }

    h3 {

        margin-bottom: 70px;
    }

    nav #menu {
        display: block;
    }

    .about .container-imgs img {
        display: none;
    }

    .about .container-texts {
        width: 100%;

    }

    .box {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;

    }

    .skills .container-skills {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .skills .container-imgs {
        display: none;
    }
}